*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F9F0E7;
  font-family: 'Bell MT', serif;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.row{
  --bs-gutter-x:0 !important;
}

p{
  margin: 0;
}

/* #2e1114
#501b1d
#64485c
#83677b
#adadad
#652232 
#4e4e50
*/

/* font-family: 'Gowun Batang', serif;
font-family: 'MonteCarlo', cursive;
font-family: 'Roboto', sans-serif; */

/********** HEADBAR  *******************/
.headbar{
  background-color: #B56357;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

/********** NAVBAR  *******************/
.nav-bar{
  align-items: center;
  color: #fff;
  display: flex;
  font-family: 'MonteCarlo', cursive;
  font-size: 1.7em;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
}

.nav-bar li{
  flex-grow: 1;
}

.nav-bar a{
  text-decoration: none;
  color: #fff;
}


/** SEARCH BAR CONTAINER***/
.search-container{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 5rem;
}

/* Search Bar */
.search-bar{
  display: inline-block;
  flex-basis: 75%;
  margin-right: 1.5rem;
  position: relative; 
}

/*** Search icon ******/
.search-bar .fa{
  color: #212529c9;
  font-size: 1.1rem;
  left: 20px;
  position: absolute;
  top: 15px;  
  transition: all .55s ease;
}


.search-bar:hover .fa-search{
  transform: scale(1.2);
} 

/*** Search input ******/
.search-bar input{
  background-color: #EFF2F0;
  border: none;
  border-radius: 23px;
  box-shadow: inset -2px -6px 12px #3a3a3a6b;
  font-size: 1.065rem;
  padding: 0.75rem 0.75rem;
  padding-left: 3rem;
}

.search-bar input:focus, .search-bar input:active{
  border: none;
  box-shadow: inset -2px -6px 12px #6963636b;
}


/************ Customer Button  ****************/
.headbar .customer-btn{
  display: inline-block;
  flex-basis: 25%;
  position: relative;
}

/****  button  ****/
.headbar .btn{
  background-color: #58F6EC;
  border: 1.5px solid #58F6EC;
  border-radius: 5px;
  box-shadow: inset -3px -7px 12px #34b7afe6;
  color: #000;
  font-size: 1.1rem;
  padding: 0.7rem 0.75rem;
  text-align: center;
  width: 100%;
}

.customer-btn:hover .btn, .btn:focus, .btn:active{
  /* box-shadow: none; */
  color: #000;
  opacity: 0.85;
}

/*** button text  ***/
.customer-btn .btn-text{
  margin: 0;
}

/*** btn icon ****/
.customer-btn:hover .fa{
  color: #000
}

.customer-btn .fa{
    padding-left: 1rem;
}

/*****************************  CARD *****************************************/
/**** card-Container *******/
.card-container.row{
  padding: 2rem 3rem;
}

.card-container .col-lg-4, .card-container .col-md-6{
  padding: 20px;
}

/*** card ****/
.card{  
  border: none;
}

.card:hover{
  cursor: pointer;
}


.card-header{
  background-color: #ecdcec;
  box-shadow: inset -3px -4px 15px 0px #3e3d3d38;
  padding: 0.65rem 1.5rem;
}

.card-header p{
  font-size: 1.35rem;
  font-weight: 600;
}

.card-body{
  background-color: #EDF8EB;
  box-shadow: inset -4px -7px 14px 0px #54545430, 3px 7px 10px 0px #43434421;
  padding: 1rem 1.5rem;
}

.card-body .transaction-type{
  font-family: 'Gabriola';
  font-size: 1.2rem;
}

.card-body .balance{
  font-size: 1.3rem;
}

.card-body .balance.debit{
  color: #da2121;
}

.card-body .balance.credit{
  color: #1f8411;
}


/********** FOOTER  *******************/
.footer {
  color: #ccc;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer small {
  font-size: 1em;
}





/***********************************  MEDIA QUERIES ******************************************/
@media only screen and (min-width: 1250px) {
  
  .col-lg-3{
    width: 25% !important;
  }

}