*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F9F0E7;
  font-family: 'Gowun Batang', serif;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

/* #2e1114
#501b1d
#64485c
#83677b
#adadad
#652232 
#4e4e50
*/

/* font-family: 'Gowun Batang', serif;
font-family: 'MonteCarlo', cursive;
font-family: 'Roboto', sans-serif; */

/********** HEADBAR  *******************/
.headbar{
  background-color: #B56357;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

/********** NAVBAR  *******************/
.nav-bar{
  align-items: center;
  color: #fff;
  display: flex;
  font-family: 'MonteCarlo', cursive;
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
}

.nav-bar li{
  flex-grow: 1;
}

.nav-bar a{
  text-decoration: none;
  color: #fff;
}

/* Search Bar */
.search-bar{
  display: inline-block;
  margin: 0 15px;
  position: relative;
  width: 70%;
}

/*** Search icon ******/
.search-bar .fa{
  color: #212529c9;
  font-size: 1.1rem;
  left: 20px;
  position: absolute;
  top: 15px;  
  transition: all .55s ease;
}


.search-bar:hover .fa-search{
  transform: scale(1.2);
} 

/*** Search input ******/
.search-bar input{
  background-color: #EFF2F0;
  border: none;
  border-radius: 23px;
  padding: 0.75rem 0.75rem;
  padding-left: 3rem;
}

.search-bar input:focus, .search-bar input:active{
  border: none;
  box-shadow: none;
}


/************ Customer Button  ****************/
.headbar .customer-btn{
  display: inline-block;
  position: relative;
}

.customer-btn:hover .fa{
  color: #000
}

.customer-btn .fa{
  position: absolute;
  right: 10px;
  top: 14.5px;
  z-index: 1;
}

/****  button  ****/
.headbar .btn{
  background-color: #58F6EC;
  border: 1.5px solid #58F6EC;
  border-radius: 5px;
  color: #000;
  padding: 0.7rem 0.75rem;
  padding-right: 2.5rem;
  position: relative;
  top: -2px;
}

.customer-btn:hover .btn, .btn:focus, .btn:active{
  box-shadow: none;
  color: #000;
  opacity: 0.85;
}



/********** FOOTER  *******************/
.footer {
  bottom: 0;
  color: #ccc;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer small {
  font-size: 1em;
}